.header {
	position: relative;
	overflow: hidden;

	width: 100%;
	min-height: 100vh;

	background: url(../img/header/header__bg.png) bottom / cover no-repeat fixed;

	&__wrapper1-row {
		margin: 15px 0px 0px 0px;
		width: 100%;
		height: 70px;
	}

	&__wrapper2-row {
		width: auto;
		height: 70px;

		transition: padding 0s;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;

		min-height: 100vh;
	}

	&__burger {
		display: none;
		position: relative;
		z-index: 1000;

		width: 30px;
		height: 20px;

		span {
			top: 0;
		}

		&:before,
		&:after,
		span {
			position: absolute;
			left: 0;

			width: 100%;
			height: 2px;
			border-radius: 15px;

			background-color: #fff;

			transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
		}

		&:before {
			content: "";
			top: 50%;

			transform: translateY(-50%);
		}

		&:after {
			content: "";
			bottom: 0;
		}

		&._active {
			position: fixed;
			right: 20px;

			&:before,
			&:after,
			span {
				top: 50%;
				transition: top ease-in-out .2s, transform ease-in-out .3s;
			}

			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: scale(0);
			}
			span {
				transform: rotate(45deg);
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 910px;
		width: 100%;
		height: 70px;
		margin: 0 auto;

		@media (max-width: 768px) {
			.header__list {
				visibility: hidden;
				z-index: 10;
				position: fixed;
				top: 0;
				right: -100%;
				flex-direction: column;

				height: 100%;
				width: 250px;
				padding: 100px 0 0 30px;

				background-color: rgba(0, 0, 0, 0.9);

				text-align: left;

				overflow: scroll;
				transition: ease-in-out 0.3s;

				.header__link {
					margin: 15px 0 0 0;
					a{font-size: 25px;}

					&:first-child {
						margin: 0;
					}
				}

				&._active {
					visibility: visible;
					right: 0;

					background-color: rgba(0, 0, 0, 0.9);

					transition: right ease-in-out 0.3s;
				}
			}

			.header__burger {
				display: block;
			}
		}
	}

	&__logo {
		cursor: pointer;

		span {
			color: #00e0d0;
			font-family: "Roboto";
			font-size: 30px;
			font-weight: 100;
		}
	}

	&__list {
		display: flex;

		list-style-type: none;
	}

	&__link {
		margin: 0 0 0 25px;
		a {
			color: #ffffff;
			font-family: "Roboto";
			font-size: 13px;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.33px;
			text-decoration: none;

			@media (min-width: 992px) {
				&:hover {
					color: #00e0d0;
					transition: ease-in-out 0.3s;
				}
			}
		}

		cursor: pointer;

		transition: ease-in-out 0.3s;

		&:first-child {
			margin: 0;
		}
	}

	&__slider {
		flex: 1 1 auto;
		display: flex;
	}

	@media (max-width: 550px) {
		.header__title {
			margin: 0 0 40px 0;

			font-size: 28px;
		}

		.header__text {
			margin: 0 0 50px 0;
		}
	}

	&__title {
		position: relative;

		margin: 0 0 50px 0;

		color: #ffffff;
		font-family: "Merriweather";
		font-size: 32px;
		font-weight: 900;
		letter-spacing: 0.32px;

		&.line {
			&::after {
				background-color: #00e0d0;
			}
		}
	}

	&__text {
		margin: 0 0 65px 0;

		color: #ffffff;

		.dots {display: none}
		
		@media (max-width: 650px) {

			cursor: pointer;

			text-decoration: underline;
			.dots {
				display: inline-block;
				text-decoration: underline;
			}
			.hidden-text {display: none}

			.hidden-text._active {display: inline;}
		}
	}	

	&__button {margin: 0px 0px 70px 0px;}
}

.slider {
	.slick-list {
		display: flex;

		overflow: hidden;
	}

	.slick-track {
		display: flex;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		outline: 0;
	}
}

.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: inline-flex !important;
	justify-content: center;

	transform: translateX(-50%);

	li {
		width: 10px;
		height: 10px;
		border: 1px solid #c2c2c2;
		border-radius: 50%;
		margin: 0 0 0 5px;

		cursor: pointer;

		background-color: rgba(0, 0, 0, 0);
		&:first-child {
			margin: 0;
		}
	}
	.slick-active {
		background-color: #00e0d0;
	}

	button {
		font-size: 0;
	}
}



.fixed .header__wrapper2-row {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	width: 100%;
	padding: 0 20px;

	background: url(../img/header/header__bg.png) top no-repeat;
}