.video {
	width: 100%;
	min-height: 100vh;

	background: url(../img/video/video__bg.png) bottom / cover no-repeat;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		cursor: pointer;
	}

	&__subtitle {
		margin: 30px 0 0 0;

		color: #ffffff;
		font-family: "Roboto";
		font-size: 16px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.8px;
	}
}
